<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>Servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackServlet</servlet-name>
        <servlet-class>Servlet.FeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Patient_Status_Update_Servlet</servlet-name>
        <servlet-class>Servlet.Patient_Status_Update_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDoctorServlet</servlet-name>
        <servlet-class>Servlet.AddDoctorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNurseServlet</servlet-name>
        <servlet-class>Servlet.AddNurseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveDoctorServlet</servlet-name>
        <servlet-class>Servlet.RemoveDoctorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveNurseServlet</servlet-name>
        <servlet-class>Servlet.RemoveNurseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Publish_Notice_Servlet</servlet-name>
        <servlet-class>Servlet.Publish_Notice_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Publish_Announcement_Servlet</servlet-name>
        <servlet-class>Servlet.Publish_Announcement_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Patient_Details_Update_Servlet</servlet-name>
        <servlet-class>Servlet.Patient_Details_Update_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Patient_Status_Update_Servlet1</servlet-name>
        <servlet-class>Servlet.Patient_Status_Update_Servlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Blood_Request_Servlet</servlet-name>
        <servlet-class>Servlet.Blood_Request_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Prescription_PDF_Servlet</servlet-name>
        <servlet-class>Servlet.Prescription_PDF_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>Servlet.DownloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchEmployeeServlet</servlet-name>
        <servlet-class>Servlet.SearchEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Fetch_Bed_Servlet</servlet-name>
        <servlet-class>Servlet.Fetch_Bed_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorTransferReqServlet</servlet-name>
        <servlet-class>Servlet.DoctorTransferReqServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransferApprovalServlet</servlet-name>
        <servlet-class>Servlet.TransferApprovalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>View_Patient_Servlet</servlet-name>
        <servlet-class>Servlet.View_Patient_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Patient_Transfer_Request_Fetch_Bed_Servlet</servlet-name>
        <servlet-class>Servlet.Patient_Transfer_Request_Fetch_Bed_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Patient_Transfer_Request_Fetch_Status_Servlet</servlet-name>
        <servlet-class>Servlet.Patient_Transfer_Request_Fetch_Status_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Patient_Transfer_Request_Servlet</servlet-name>
        <servlet-class>Servlet.Patient_Transfer_Request_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorTransferOrderServlet</servlet-name>
        <servlet-class>Servlet.DoctorTransferOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NurseTransferOrderServlet</servlet-name>
        <servlet-class>Servlet.NurseTransferOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>opd_booking_fetch_doctor_servlet</servlet-name>
        <servlet-class>Servlet.opd_booking_fetch_doctor_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientTransferApprovalServlet</servlet-name>
        <servlet-class>Servlet.PatientTransferApprovalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NurseTransferReqServlet</servlet-name>
        <servlet-class>Servlet.NurseTransferReqServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackServlet</servlet-name>
        <url-pattern>/FeedbackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Patient_Status_Update_Servlet</servlet-name>
        <url-pattern>/Patient_Status_Update_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDoctorServlet</servlet-name>
        <url-pattern>/AddDoctorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNurseServlet</servlet-name>
        <url-pattern>/AddNurseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveDoctorServlet</servlet-name>
        <url-pattern>/RemoveDoctorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveNurseServlet</servlet-name>
        <url-pattern>/RemoveNurseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Publish_Notice_Servlet</servlet-name>
        <url-pattern>/Publish_Notice_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Publish_Announcement_Servlet</servlet-name>
        <url-pattern>/Publish_Announcement_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Patient_Details_Update_Servlet</servlet-name>
        <url-pattern>/Patient_Details_Update_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Patient_Status_Update_Servlet1</servlet-name>
        <url-pattern>/Patient_Status_Update_Servlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Blood_Request_Servlet</servlet-name>
        <url-pattern>/Blood_Request_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Prescription_PDF_Servlet</servlet-name>
        <url-pattern>/Prescription_PDF_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/DownloadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchEmployeeServlet</servlet-name>
        <url-pattern>/SearchEmployeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Fetch_Bed_Servlet</servlet-name>
        <url-pattern>/Fetch_Bed_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorTransferReqServlet</servlet-name>
        <url-pattern>/DoctorTransferReqServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransferApprovalServlet</servlet-name>
        <url-pattern>/TransferApprovalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>View_Patient_Servlet</servlet-name>
        <url-pattern>/View_Patient_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Patient_Transfer_Request_Fetch_Bed_Servlet</servlet-name>
        <url-pattern>/Patient_Transfer_Request_Fetch_Bed_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Patient_Transfer_Request_Fetch_Status_Servlet</servlet-name>
        <url-pattern>/Patient_Transfer_Request_Fetch_Status_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Patient_Transfer_Request_Servlet</servlet-name>
        <url-pattern>/Patient_Transfer_Request_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorTransferOrderServlet</servlet-name>
        <url-pattern>/DoctorTransferOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NurseTransferOrderServlet</servlet-name>
        <url-pattern>/NurseTransferOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>opd_booking_fetch_doctor_servlet</servlet-name>
        <url-pattern>/opd_booking_fetch_doctor_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientTransferApprovalServlet</servlet-name>
        <url-pattern>/PatientTransferApprovalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NurseTransferReqServlet</servlet-name>
        <url-pattern>/NurseTransferReqServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
